.menu {
    height: 0;
}
.menu ul {
    opacity: 0;
}
.menu ul br {
    display: none;
}


.arrow {
   position: absolute;
    right: 100px;
}
.arrow .inner_arrow {
    position: fixed;
    align-items: center;
    justify-content: center;
    top: 55%;
    transform: translate(0%, -50%);
    text-align: center;
    z-index: 10;
}
.arrow .inner_arrow li {
    list-style: none;
    padding: 5px;
    border: none;
    border-radius: 100%;
    margin: 40px 0;
}
    
.arrow .inner_arrow li span {
    border: none;
    display: block;
    padding: 5px;
    border-radius: 100%;
}
    
.arrow .inner_arrow li a {
    width: 10px;
    height: 10px;
    background: #E5E5E5;
    border: 1px solid #BBBBBB;
    display: block;
    border-radius: 100%;
    margin: 0 auto;
    
}
    
    /* 버튼 */

.arrow .inner_arrow li.active a {
    background: #999999;
    animation: ripple 1.8s linear infinite;
}
.arrow .inner_arrow li:hover a {
    background: #999999;
}
    
    
body{
    background-color:black;
    font-size:8px;
    line-height:1em;
    font-family: "Noto Sans KR", sans-serif;
    color:white;
    -webkit-font-smoothing:antialiased;
    -webkit-text-size-adjust:100%;      
}  
h1,h2,h3,h4,h5,h6{
    color:white; 
}
hr{
    border:solid #ddd;
    border-width:1px 0 0;
    clear:both;margin:10px 0 30px;
    height:0;
}
            
      
#hero{
    position:relative;
    width:2000px;
    max-width:100%;
    height:600px;
    margin:30px auto;
    overflow:hidden;
    color: white;
}
    
    
.hero{
    box-sizing:border-box;
    height: 100%;
    padding-top: 150px;
    padding-left: 10px;
    margin-top:55px;
    margin-left:50px;
} 
    
.title h1{
    padding-top: 10px;
    padding-left: 1px;
    margin-top:55px;
    margin-left:1px;
}
#hero p{
    margin-bottom:0;
    font-size:1.9em;
    line-height: 3em;
    text-align: left;
}  
#hero .wrapper{
    position:relative;
    display:flex;
    width:1180px;
    max-width:95%;
    height:100%;
    margin:0 auto;
    -webkit-box-align:center;
    -webkit-align-items:center;
    -ms-flex-align:center;
    align-items:center
}
#hero .wrapper .welcome{
    width:45%
}

     
  
#hero .wrapper .welcome p{
    max-width:500px;
    margin-bottom:30px;
}
        

    
#hero .wrapper .welcome p{
    margin-bottom:0
}
        

.fade-in{
    opacity: 0;
    transition: opacity 400ms ease-in;
}
.fade-in.appear{
    opacity: 1;
}
